<div class="container">
  <h1 class="text-center">Flats List</h1>

  <div class="row">

    <% @flats.each do |flat| %>
    <div class="col-4 card-group">
      <div class="card mb-3">
        <%= image_tag flat['imageUrl'], class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title"><%= flat['name'] %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to "View Details", flat_path(id: flat['id']), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>